*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3, h4, h5, h6, strong{
    color: #232e35;
}

p{
    font-size: 1rem; /* 1rem = 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: grey;
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    .main-container{
        width: 90%;

    }
}

/* Title */
.pre-title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #232e35;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background-color: #232e35;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}
/* Logo and Navigation Menus */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500px;
    font-family: Dancing Script;
}

.logo a{
    color: #232e35;
}

nav ul li{
    display: flex;
    align-items: center;
}


nav ul li a {
    color: #232e35;
    font-size: 20px;
}

nav ul li a:hover{
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
/* Burger */
.burger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger{
    display:none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero Section */
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: rgb(119, 8, 8);
}

.hero-right img{
    width: 90%;
}

.hero-right{
    display: flex;
    justify-content: center;
}

#Services {
    background-color:whitesmoke;
    padding: 6rem 0;
    border-radius: 30px;
}

.Services .pre-title{
    margin: 0 auto;
}

.Services-title {
    text-align: center;
}

.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.Services{
    padding: 3rem 2rem;
    text-align: center;
    background: rgba(253, 252, 252, 0.295);
    border-radius: 20px;
}

.service h4{
    margin: 1.5rem;
    font-weight: 200px;
    font-size: 1.2rem;
}

.service-icon{
    background:rgba(128, 128, 128, 0.11) ;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
}

.service-icon svg{
    fill:rgba(83, 139, 202, 0.89);
}

/* Porfolio-Section */

#portfolio{
    padding: 2rem;
}

.portfolio{
    border-radius: 15px;   
    overflow: hidden;
    border: .5px solid whitesmoke;
}

.portfolio-cover {
    height: 250px;
}


.portfolio-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.portfolio-title a svg:hover{
    fill: rgba(128, 128, 128, 0.486);
}

.portfolio-title a svg{
    transition: .2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}

.portfolio-tags div{
    font-size: 1rem;
    border: .4px solid rgba(128, 128, 128, 0.37);
    padding: .4rem 1rem;
    border-radius: 5px;
    color: grey;
}

/* Skill & Education */

#skill{
    padding: 2rem 1rem;
    background: whitesmoke;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line{
    padding: 0 .7rem;
}

.education .line div{
    width: 2px;
    height: 100%;
    background: rgba(128, 128, 128, 0.171);
    position: relative;
}

.education-info p{
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* line with dot symbol */

.education .line div:before{
    content: "";
    width: 15px;
    height: 15px;
    background:rgba(128, 128, 128, 0.137);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skill-list {
    display: grid;
    grid-template-columns : 1fr 1fr ;
    margin-top: 1rem;
}

.skill-right ul{
    line-height: 2rem;
    padding: 0 1rem;
}

/* Contact */

#contact{
    padding: 2rem 1rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div{
    margin-bottom: 1.5rem;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(128, 128, 128, 0.062);
    border: 0.6px solid rgba(128, 128, 128, 0.137);
    border-radius: 5px;
    resize: none;
}

.button-submit{
    width: 100%;
    padding: 0.8rem 1.3rem;
    background-color:rgba(33, 90, 247, 0.568);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.096);
    font-size: 15px;
    font-weight: bolder;
    color: rgb(63, 61, 61);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button-submit:hover{
    background-color: rgba(33, 90, 247, 0.753) ;
    color: rgb(63, 61, 61);
}

.contact-item-icon{
    fill: rgba(83, 139, 202, 0.89);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

/* Footer Style */

footer{
    padding: 4rem 0;
    background: whitesmoke;
    text-align: center;
}

.footer-icon {
    margin-bottom: 1rem;
}

.footer-icon a {
    margin: 0.5rem;

}

.footer-icon svg {
    fill:rgba(0, 0, 0, 0.671);
}
